fieldset {
    display: flex;
    flex-direction: column;
    height: fill;
}

input {
    width: 25%;
}

textarea {
    width: 50%;
    resize: none;
    height: 100px;
}

select {
    width: fit-content;
}
.flexContainer {
    display: flex;
}

aside {
    max-width: 50%;
    align-self: flex-start;
}

form {
    flex-grow: 2;
}